langchain>=0.0.188
PyPDF2
python-dotenv
openai
faiss-cpu
numpy
discord
tiktoken
transformers 
InstructorEmbedding
wandb
torch
requests 
beautifulsoup4
lxml
google-api-python-client
youtube_transcript_api
anthropic
