langchain
PyPDF2
pdf2image
python-dotenv
openai
faiss-cpu
numpy
discord
tiktoken
transformers 
InstructorEmbedding
wandb
torch
requests 
beautifulsoup4
lxml
google-api-python-client
youtube_transcript_api
anthropic
qdrant-client
sentence-transformers
boto3
pdfminer.six
azure.mgmt.resource
azure.identity
azure.mgmt.costmanagement
